#heading-one{
    font-size: 40px; 
}
#sbcolor{
    font-size: 30px;
    color: green;
}
#imgsrc1{
    width: 250px; 
    height: 250px; 
    display: block; 
}
.container{
    width: 1200px;
    height: 300px;
    background-color: whitesmoke;
    margin: 20px 100px;
    padding-left: 10px;
    text-align: left;
    display: flex;
}

#pid-one{
    font-style: italic;
    font-size: 20px;
    
}
#did-one{
width: 500px;
height: 280px;;
}
#did-two{
    width: 500px;
    height: 280px;
}
#bid-one{
    text-decoration: none;
    width: 0px;
    height: 40px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(238, 7, 46);
    border-radius: 10px;
    
    color: white;
    
}
#pid-two{
    font-style:normal ;
    font-size: 15px;
}
#did-three{
    margin: 20px 100px;
    font-family: Arial, Helvetica, sans-serif;
}
#hid-one{
    text-align: center;
    font-size: 50px;

}
#sid-two{
    color: green;
}
#did-four{
    
    align-content: center;
    width: 250px;
    height: 250px;
}
#did-five{
    border-radius: 15px;
    background-color: yellow;
    width: 250px;
    height: 250px;
    margin-right: 20px ;
}
#imgsrc2{
    width: 150px;
    height: 150px;
}
#did-six{
    margin-left: 20px;
}
#did-seven{
    border-radius: 15px;
    background-color: turquoise;
    margin-left: 40px;
    width: 250px;
    height: 250px;
}
#did-eight{

}
#did-nine{
    border-radius: 15px;
    background-color: violet;
    margin-left: 40px;
    width: 250px;
    height: 250px;
}
#hid-two{
    margin: 10px;
}
#pid-three{
    margin: 10px;
}

#imgsrc3{
    border-radius: 15px;
    width: 350px;
    height: 250px;
}
#did-ten{
    width: 300px;
    height: 80px;
    margin-left: 30px;
    font-size: 20px;
}
#did-eleven{
    width: 500px;
    height: 80px;
    margin-left: 80px;
    font-size: 20px;
}
#did-twelve{
    width: 500px;
    height: 80px;
    margin-left: 20px;
    font-size: 20px;
}
.footerset{
    background-color: grey;
    text-align: center;
}
#hid-three{
    font-size: 30px;
}
#sid-three{
    color: green;
}